logocenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
		}
h1style{
	color:#fff;
	text-align:center;
}
h2style{
	color:#fff;
	text-align:center;
}
p1style{
	color:#fff;
	text-align: center;
}
