<style>
#headingstyle{
	color: #E8ADAA;
	text-align: center;
	}

#col-xs-12-col-sm-6-col-md-6-col-lg-6{
							display: block;
							margin-left: auto;
							margin-right: auto;
							}
#rulelink{
	font-size: 30px;
	font-family: Times New Roman;
}
.center{
					margin: auto;
					width: 50%;
					border: 3px #fff;
					padding: 10px;
		}
h1{
	color: #808080;
}
#tophat
{
	color: #808080;
	margin: auto;
}
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
