<style>
#headingstyle{
	color: #E8ADAA;
	text-align: center;
	}

#col-xs-12-col-sm-6-col-md-6-col-lg-6{
							display: block;
							margin-left: auto;
							margin-right: auto;
							}
.center{
					margin: auto;
					width: 50%;
					border: 3px #fff;
					padding: 10px;
		}
h1{
	color: #808080;
}
#tophat
{
	color: #808080;
	margin: auto;
}



</style>